.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0 auto;

  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header-banner {
  background-color: #74c69d;
  color: white;
}

.safe-area {
  width: 1180px;
  margin: 0 auto;
}

.header {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  gap: 1rem;
}

.header-menu {
  flex-grow: 1;
}

.header-menu ul {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.header-menu li {
  list-style: none;
}

.header-menu a {
  color: white;
  font-size: 1.3rem;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.banner-img-container {
  display: flex;
  justify-content: end;
}

.banner-text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.welcome-label {
  font-size: 1rem;
  text-transform: uppercase;
}

.welcome-label2 {
  font-size: 2.5rem;
  line-height: 2.6rem;
  font-weight: bold;
}

.welcome-label3 {
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.explore-button {
  background-color: white;
  display: inline-block;
  color: black;
  padding: 0.8rem 2rem;

  font-size: 1.2rem;
  border-radius: 0.4rem;
}

/*
Important is used to override the default style
@media (max-width: 768px) {
  .header-menu {
    display: block !important;
  }
}
*/

@media (max-width: 1180px) {
  body {
    background-color: lightblue;
  }
  .safe-area {
    width: auto;
    margin: auto 1.5rem;
  }
  .banner {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2rem;
    gap: 1.5rem;
  }
  .banner-img-container img {
    width: 100%;
  }
  .header-menu {
    display: none;
  }
  .welcome-label2 {
    font-size: 1.6rem;
  }

  .header {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
}
